/* CSS declarations go here */
table {
  border-collapse: collapse;
}

td {
  border: 5px solid #000;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 70px;
}

td.winner {
  background-color: grey;
}

body:nth-of-type(1) .unicode:after {
  color: #008000;
  font-weight: 900;
  text-shadow: 1px 1px 2px #000
}

body:nth-of-type(1) .move-o:after {
  content: "\25EF"
}

body:nth-of-type(1) .move-x:after {
  content: "\2715"
}

#reset-cells {
  margin-top: 10px;
}
